@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
:root {
    /* Width layout */
    --width-mobile: 375px;
    --desktop: 1440px;

    /* Colors */
    --primary-Soft-blue: hsl(215, 51%, 70%);
    --primary-Cyan: hsl(178, 100%, 50%);

    --main-Very-dark-blue: hsl(217, 54%, 11%);
    --card-Very-dark-blue: hsl(216, 50%, 16%);
    --line-Very-dark-blue: hsl(215, 32%, 27%);
    --neutral-White: hsl(0, 0%, 100%);

    /* Font */
    --Font-paragraph-size: 18px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-Very-dark-blue);
    font-family: "Outfit", Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
.form-container {
	/* width: 100vw;
	height: 100vh; */
	/* background-color: #7b2cbf; */
	/* display: flex;
   	justify-content: center; */
    text-align: center;
	align-items: center;
}
.upload-files-container {
	background-color: #e9eaec;
	width: 420px;
	padding: 30px 60px;
	border-radius: 40px;
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.drag-file-area {
	border: 2px dashed #7b2cbf;
	border-radius: 40px;
	margin: 10px 0 15px;
	padding: 30px 50px;
	width: 350px;
	text-align: center;
}
.drag-file-area .upload-icon {
	font-size: 50px;
}
.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}
.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: #7b2cbf;
	font-weight: bolder;
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
}
.default-file-input {
	opacity: 0;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #f7fff7;
	background-color: #7b2cbf;
  	transition: all 1s;
	width: 390px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;
	font-size: 15px;
}
.file-icon {
	margin-right: 10px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}
.upload-button {
	font-family: 'Montserrat';
	background-color: #7b2cbf; 
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 18px;
	border: none;
	border-radius: 20px;
	margin: 10px;
	padding: 7.5px 50px;
	cursor: pointer;
}


/*
form 2
*/
.basic-slide {
    display: inline-block;
    width: 215px;
    padding: 10px 0 10px 15px;
    font-family: "Open Sans", sans;
    font-weight: 400;
    color: #377D6A;
    background: #efefef;
    border: 0;
    border-radius: 3px;
    outline: 0;
    text-indent: 70px;
    transition: all 0.3s ease-in-out;
  }
  .basic-slide::-webkit-input-placeholder {
    color: #efefef;
    text-indent: 0;
    font-weight: 300;
  }
  .basic-slide + label {
    display: inline-block;
    position: absolute;
    /* top: 0;
    left: 0; */
    padding: 10px 15px;
    text-shadow: 0 1px 0 rgba(19, 74, 70, 0.4);
    background: #7AB893;
    transition: all 0.3s ease-in-out;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  .basic-slide:focus, .basic-slide:active {
    color: #377D6A;
    text-indent: 0;
    background: #fff;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .basic-slide:focus::-webkit-input-placeholder, .basic-slide:active::-webkit-input-placeholder {
    color: #aaa;
  }
  .basic-slide:focus + label, .basic-slide:active + label {
    transform: translateX(-100%);
  }



.header-container {
    width: 50%;
    margin: auto;
    color: #e9eaec;
    text-align: center;
    font-size: 20px;
    margin-top: 30px;
}

.card-container {
    background-color: var(--card-Very-dark-blue);
    /* width: min(87.5%, 22rem); */
    width: 80%;
    margin: 2rem auto;
    padding: 1.4rem;
    border-radius: 5%;
    box-shadow: 0 1rem 3rem rgb(0 0 0 / 50%);
    padding-right: 10%;
    padding-left: 10%;
}

@media (max-width: 375px) {
    .card-container {
        margin: 4rem auto;
    }

    .tittle-card {
        font-size: 1.2rem;
    }

    .text-card, 
    .items-card {
        font-size: 17px;
    }

    .name-creator,
    .text-creator {
        font-size: 17px;
        display: inline-block;
    }
}
  